<div class="container mt-3">
  <h1>Your Rankings</h1>

  <table class="table table-striped mt-3">
    <thead>
        <th>Rank</th>
        <th>Movie</th>
        <th>Year</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each_with_index do |movie, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td><%= movie.rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
