<div class="container mt-3">
  <% if @user == current_user %>
    <h1>Your Watchlist</h1>
  <% else %>
    <h1>Watchlist | <%= @user.username %></h1>
  <% end %>
    <% if @watchlists.present? %>
      <div class="watchlist mb-3">
        <% @watchlists.each do |movie| %>
          <%= link_to movie_path(movie.api_id) do %>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2<%= Tmdb::Movie.detail(movie.api_id).poster_path %>" alt="">
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="py-3">No movies here yet.</p>
    <% end %>
</div>
