<div class="container">
  <h1>Watchlist</h1>
    <div class="watchlist my-4">
      <% @watchlists.each do |movie| %>
        <%= link_to movie_path(movie.api_id) do %>
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2<%= Tmdb::Movie.detail(movie.api_id).poster_path %>" alt="">
        <% end %>
      <% end %>
    </div>
</div>
