.feed-card {
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 4px 12px;
  display: flex;
  border-bottom: 1px solid lightgray;
}
#feed-avatar {
  width: 75px;
  height: 75px;
  margin-right: 12px;
  border-radius: 50%;
}
small {
  color: gray;
}
