  <div class="movies my-3" data-tabs-target="one">
    <%= render "movie_tab" %>
  </div>

  <div class="cast-crew my-3 hidden" data-tabs-target="two">
    <%= render "people_tab" %>
  </div>

  <div class="users my-3 hidden" data-tabs-target="three">
    <%= render "user_tab" %>
  </div>
