    <h2 class="mb-3">Users</h2>
    <% if @users.present? %>
      <% @users.first(10).each do |user| %>
        <div class="user-card">
          <% if user.avatar.attached?%>
            <%= cl_image_tag user.avatar.key, class: "user-avatar" %>
          <% else %>
            <img class="user-avatar" src="<%= @default %>" alt="">
          <% end %>
          <p><%= link_to user.username, user_path(user) %></p>
        </div>
      <% end %>
    <% else %>
      <p>No Results</p>
    <% end %>
