<div class="background">
  <div id="line1"></div>
  <div id="line2"></div>
  <div id="line3"></div>
  <div id="line4"></div>
  <div id="line5"></div>
  <main>
    <div>
      <h1>R<small>EEL</small>S<small>CORE</small></h1>
      <h2>Watch. Love. Rate.</h2>
    </div>
  </main>
</div>
