<div class="container mt-4" data-controller="tabs">

  <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search..." %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
    <%#= submit_tag "Search", class: "btn btn-dark", data: { action: "click->tabs#update"} %>
  <% end %>

  <div class="tab-options mb-3">
    <small class="selected" data-tabs-target="oneTab" data-action="click->tabs#showOne">Movies</small>
    <small data-tabs-target="twoTab" data-action="click->tabs#showTwo">Cast & Crew</small>
    <small data-tabs-target="threeTab" data-action="click->tabs#showThree">Users</small>
  </div>

  <%= render "results" %>

</div>
