<nav class="d-flex justify-content-between p-3">
  <%= link_to "CINEFIX", root_path, class: "btn btn-dark" %>
  <div>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-danger" do %>
        <i class="bi bi-box-arrow-right"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "btn btn-primary" do %>
        <i class="bi bi-person-circle"></i>
      <% end %>
    <% end %>
  </div>
</nav>
