<div class="container mt-3">
  <h1>Your Ratings</h1>

  <table class="table table-striped mt-3">
    <thead>
        <th>Rank</th>
        <th>Movie</th>
        <th>Year</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @ratings.each_with_index do |rating, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to tmdb_movie(rating.api_id).title, movie_path(rating.api_id) %></td>
          <td><%= format_date(tmdb_movie(rating.api_id).release_date) %></td>
          <td><%= rating.total_score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
