<p>You have received some feedback for ReelScore:</p>

<p><strong>Name:</strong> <%= @feedback.name %></p>
<p><strong>Email:</strong> <%= @feedback.email %></p>
<p><strong>Message:</strong> <%= @feedback.message %></p>
