<div class="container my-3">
  <h1>Following</h1>
  <% if @followings.empty? %>
    <p class="py-3">You are not following anyone.</p>
  <% else %>
    <% @followings.each do |follow| %>
      <%= link_to follow.username, user_path(follow) %>
    <% end %>
  <% end %>
</div>
