.stats {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  h4 {
    text-align: center;
    margin: 0 1rem;
    min-width: 3.4rem;
  }
  a {
    display: flex;
    flex-direction: column-reverse;
    color: grey;
    text-decoration: none;
  }
  small {
    font-size: 0.6rem;
  }
  span {
    color: white;
  }
}
