.person-round {
  border-radius: 8px;
}
.tab-options {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  small {
    cursor: pointer;
  }
}
.genres, .cast, .crew {
  padding: 0.5rem;
  max-height: 20rem;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.genres {
  min-height: 20vh;
}

.cast, .crew {
  display: flex;
  .person-card {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    margin: 0 10px;
    cursor: pointer;
  }
  span {
    font-weight: bold;
  }
  img {
    height: 150px;
    max-width: 100px;
    object-fit: cover;
  }
}
.movies, .cast-crew, .users {
  cursor: pointer;
}
.hidden {
  display: none;
}
.selected {
  color: white;
  transform: scale(1.2);
  text-decoration: underline;
}
.text-card {
  height: 150px;
  width: 100px;
  display: grid;
  place-items: center;
  background-color: grey;
  border-radius: 8px;
  font-size: 2.2rem;
}
.no-poster {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: grey;
  color: darkgray;
  border-radius: 8px;
  font-size: 0.8rem;
  text-align: center;
}
